name = "hisabkhata-pos-worker"
main = "src/index.js"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

routes = [
  { pattern = "api.pos.hisabkhata.sumanonline.com", custom_domain = true }
]

[[d1_databases]]
binding = "DB"
database_name = "hisabkhata-pos_d1_db"
database_id = "35620317-eea3-479f-916c-53e48783eb4c"

[[r2_buckets]]
binding = "MY_POS_BUCKET"
bucket_name = "hisabkhata-pos"
preview_bucket_name = "hisabkhata-pos"

[dev]
port = 8787
local_protocol = "http"

[vars]
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = "465"
SMTP_FROM_EMAIL = "pos.hisabkhata@sumanonline.com"
SMTP_FROM_NAME = "HisabKhata POS"
TURNSTILE_SECRET_KEY = ""

[observability.logs]
enabled = true
invocation_logs = true
persist = true
